<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net452" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net452" />
  <package id="Guna.UI2.WinForms" version="2.0.4.5" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net452" />
  <package id="MedallionOData" version="1.7.0" targetFramework="net452" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="Xam.Plugin.Media" version="6.0.2" targetFramework="net452" />
</packages>